@using ClubMembership.Models;
@model ClubMembership.Models.AccountHeadMaster
@{
    ViewBag.Title = "Form";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="col-lg-12">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title"><i class="fa fa-bar-chart-o fa-fw"></i>  Account Head Master  <div class="clearfix"> </div></h3>
        </div>

        @Html.Raw(ViewBag.msg)
        <div class="row">
            <div class="col-md-12">
                <div class="panel-body">
                    <form action="@Url.Content("~/AccountHeadMaster/savedata")" method="post" accept-charset="utf-8" id="accountheadmasterform" data-ng-controller="myController" name="accountheadmasterform" onsubmit="return ValidateMyform(this,event);">
                        @Html.ValidationSummary(true)
                        <fieldset id="AccountHeadMasterForm_info">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="col-md-4 hidden">
                                        <div class="form-group">
                                            <label>Primary  </label>
                                            @Html.TextBoxFor(model => Model.ACHEADID, new { @class = "form-control  ACHEADID", @id = "ACHEADID" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label>Code<span class="req"> *</span> </label>
                                            @Html.TextBoxFor(model => Model.ACHEADCODE, new { @class = "form-control ACHEADCODE caps", @id = "ACHEADCODE", required = "required", MaxLength = "15" })
                                            @Html.ValidationMessageFor(mode => Model.ACHEADCODE)
                                            <input type="text" value="@Model.ACHEADCODE" name="i_ACHEADCODE" hidden>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label>Description <span class="req"> *</span></label>
                                            @Html.TextBoxFor(model => Model.ACHEADDESC, new { @class = "form-control  ACHEADDESC", @id = "ACHEADDESC", required = "required" })
                                            @Html.ValidationMessageFor(mode => Model.ACHEADDESC)
                                            <input type="text" value="@Model.ACHEADDESC" name="i_ACHEADDESC" hidden>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label>Account Group <span class="req"> *</span> </label>
                                            @Html.DropDownList("ACHEADGID", null, "Please select", new { @class = "form-control  ACHEADGID", @data_val = "true", @data_val_required = "Field is required", @id = "ACHEADGID" })
                                            @Html.ValidationMessageFor(mode => Model.ACHEADGID)
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label>Status </label>
                                            @Html.DropDownList("DISPSTATUS", null, new { @class = "form-control DISPSTATUS", @id = "DISPSTATUS" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12 box-footer">
                                    <input type="button" name="back" value="Go Back" class="btn btn-primary btn-sm  pull-left" onclick="JavaScript:history.back()" />
                                    <input type="submit" name="save" value="Save" class="btn btn-primary btn-sm pull-right " />
                                    @*<input type="submit" name="continue" value="Save & Add" class="btn btn-success btn-xs  " />*@
                                </div>
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>


    </div>
</div>
<style>
    .spacer5 {
        height: 5px !important;
    }

    .req {
        color: red;
        font-size: 15px;
    }
</style>

@section Scripts {

    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Scripts/jquery.validate_tab.js"></script>

    <script>
                $('.msg').delay(1200).fadeOut(1000);
                $("#ACHEADCODE").keyup(function () {//...capitalize each

                    $(this).val($(this).val().toUpperCase());
                });


             function ValidateMyform(form, event) {
            flag = true;
            i = 0;
            //$("#btnsave").attr("disabled", "disabled");
            var frmflag = $(form).attr('data-flag');
            //alert(frmflag);
                 var form = document.getElementById('accountheadmasterform');
            var inputs = form.getElementsByTagName('input');
            var forms = document.getElementsByClassName('needs-validation');

            if (form.checkValidity() === false) {
                event.preventDefault();
                event.stopPropagation();
                flag = false;
            }
            else {
                form.classList.add('was-validated'); flag = true;
            }

            if (flag) {
                if (frmflag == 0) {
                    event.preventDefault(); //to prevent submitting

                    Swal.fire({
                        title: "Are you sure?",
                        text: "Are you sure to Submit the Information !",
                        type: "warning",
                        confirmButtonText: "Yes",
                        showCancelButton: true,
                        cancelButtonColor: "#d43f3a",
                        cancelButtonText: "No",
                        showCloseButton: true,
                        position: "Center",
                    }).then((result) => {
                        if (result.value) {
                            flag = true;
                            var ActionName = "SaveData";
                            var controllername = "AccountHeadMaster";
                            var pagetitle = "@ViewBag.Title";
                            var formData = $(accountheadmasterform).serialize();
                            submitFormData(ActionName, controllername, pagetitle, formData,"Index");
                            $("#btnsave").removeAttr("disabled", "disabled");
                        }
                        else if (result.isDenied) {
                            Swal.fire('Changes are not saved', '', 'info')
                            flag = false;
                            $("#btnsave").removeAttr("disabled", "disabled");
                            return false;
                        }

                    });
                }
            }
            else {
                return false;
            }
        }
    </script>

}




